{% extends "base.html" %}
{% block extrahead %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
<script>
  htmx.config.useTemplateFragments = true;
</script>
{% endblock %}
{% block content %}
<div id="content" class="container">
  <h2>Home: <a href="{% url 'index' %}">Project1233</a></h2>
  <div class="container">
    <div class="row">

      <div class="col col-lg-6">
        <h5>Add A Study</h5>
        <div hx-get="{% url 'study_Study_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Study List</h4>
        <div hx-get="{% url 'study_Study_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
      <div class="col col-lg-6">
        <h5>Add A Result</h5>
        <div hx-get="{% url 'data_Result_htmx_create' %}" hx-trigger="load" hx-swap="outerHTML"></div>
        <h4>Result List</h4>
        <div hx-get="{% url 'data_Result_htmx_list' %}" hx-trigger="load">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}